//HEADER====================================================================================================
.header {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
	overflow: hidden;
	z-index: 9;
	position: fixed;
	right: 0;
	left: 0;
	background-color: #fff;
	&::after{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 0;
		border: 1px solid #777777;
		filter: blur(4px);
		content: "";
	}
}

.header__row {
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	display: flex;
	align-items: center;
}
.logo__img {
	height: 55px;
	margin-right: 17px;
}
.logo__title {
	font-weight: bold;
	font-size: 28px;
	line-height: 37px;
	letter-spacing: 0.1em;
	color: #8F8F8F;
	text-transform: uppercase;
}
.header__links {
	transition: .3s;
	display: flex;
	align-items: center;
}
.header__link {
	width: 192.74px;
	height: 45px;
	border-radius: 4px;
	border: 2px solid #2099d7;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
	color: #008ad1;
	font-size: 23px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 27px;
	text-align: left;
	text-transform: uppercase;
	
	&:hover{
		color: #fff;
		background-color: #008ad1;
	}
}
@media (max-width: $md2+px) {
	.header__links{
		display: none;
	}
	.header__link{
		width: 103.23px;
		height: 32px;
		font-size: 12px;
		font-weight: 500;
		line-height: 14px;
	}
	.logo__title{
		font-size: 24px;
	}

	.header.active{
		.header__logo{
			display: none;
		}
		#burger{
			display: none;
		}
		.header__links{
			display: flex;
		}
		#close{
			display: flex;
		}
	}
}
@media (max-width: $md3+px) {
	.logo__title{
		font-size: 18px;
	}
	.logo__img{
		margin-right: 7px;
	}
}
//Burger
.header__toggle {
	display: none;
	@media (max-width: $md2+px) {
		width: 74px;
		height: 32px;
		border-radius: 4px;
		border: 2px solid #BCE0F3;
		background-color: #fff;
		position: relative;
		align-items: center;
		justify-content: center;
		color:  rgb(0, 138, 209);
		span {
				display: block;
				width: 12px;
				height: 10px;
		}
		p {
			margin-left: 5px;
		}
	}
}

#burger{
	span {
		background: url("../img/burger.svg");
	}
	@media (max-width: $md2+px) {
		display: flex;
	}
}
#close {
	span {
		background: url("../img/close.svg");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right;
	}
}
//HEADER====================================================================================================