
//<Подключаем шрифты>=======================================================================================
@import "fonts";
//</Подключаем шрифты>=======================================================================================
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Roboto', sans-serif;
//</Шрифт по умолчанию>==========================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1240;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	font-family: $fontFamily;
	color: #000;
	font-size: 14px;
	overflow-x: hidden;
	&.lock{
		overflow: hidden;
	}
}
html {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
	min-height: 100%;
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	max-width: 100vw;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	&.lock{
		overflow: hidden;
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	height: 100%;
	@media (max-width: $md1+px) {
		padding: 0 25px;
	}
	@media (max-width: $md2+px) {
		padding: 0 15px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	height: 100%;
}

.bold {
	font-weight: 600;
	font-size: 20px;
	@media (max-width: $md3+px) {
		font-size: 18px;
	}
}
.error{
	height: 50px;
	width: 300px;
	position: fixed;
	top: calc(50% - 25px);
	left: calc(50% - 150px);
	z-index: 50;
	font-weight: bold;
}
//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "loader";
@import "header";
@import "nav";
@import "instruction";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
